
{% extends "bootstrap/base.html" %}

{% block style %}
    {{ super() }}
{% endblock %}


<!DOCTYPE html>
<html>

{% block head %}
    {{ super() }}
    {% if title %}
    <title>{{ title }} - Boersenverwaltung</title>
    {% else %}
    <title>Welcome to Boersenverwaltung</title>
    {% endif %}

{% endblock %}

{% block body %}
     {% block scripts %}
        {{ super() }}
        <script>
            function updateTime() {
                var currentTime = new Date();
                var hours = ('0' + currentTime.getHours()).slice(-2);
                var minutes = ('0' + currentTime.getMinutes()).slice(-2);
                var seconds = ('0' + currentTime.getSeconds()).slice(-2);
                var formattedTime = hours + ":" + minutes + ":" + seconds;

                document.getElementById("current-time").textContent = formattedTime;

                var year = currentTime.getFullYear();
                var month = ('0' + (currentTime.getMonth() + 1)).slice(-2);
                var day = ('0' + currentTime.getDate()).slice(-2);
                var formattedDate = day + "." + month + "." + year + " | ";

                var days = ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'];
                var dayOfWeek = days[currentTime.getDay()];

                document.getElementById("current-date").textContent = dayOfWeek + ", " + formattedDate;
            }

            setInterval(updateTime, 1000);
        </script>
    {% endblock %}

    <div>
        Boersenverwaltung:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if current_user.admin_tag %}
        (Admin)
        {% endif %}
        <b id="current-date"></b>
        <b id="current-time"></b>

    </div>

    <hr>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

{% endblock %}
</html>