{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
    <h>Hi, {{ current_user.username }}!</h>
    <h1>Market-Overview</h1>

    <table class="table table-hover" id="market-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Country</th>
                <th>Currency</th>
                <th>Market-Fees
                    <select id="currency-select">
                        <option value="default">default</option>
                        {% for currency in currencies %}
                            <option value={{ currency.market_currency_code }}>
                                {{ currency.market_currency_code }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th>Number of Securities</th>
                <th>Number of Companies</th>
                <th>Opens at (CET)</th>
                <th>Closes at (CET)</th>
            </tr>
        </thead>

        <tbody>
            {% for market in markets %}
            <tr>
                <td><a href="{{ url_for('market', market_id=market.market_id) }}">{{ market.market_name }}</a></td>
                <td>{{ market.market_id }}</td>
                <td>{{ market.market_country }}</td>
                <td class="currency">
                    {% for currency in currencies %}
                        {% if currency.market_currency_id == market.market_currency_id %}
                            {{ currency.market_currency_code }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="fee-cell" data-original-value="{{ market.market_fee }}">
                    {{ "%.2f" % market.market_fee }}
                    {% for currency in currencies %}
                        {% if currency.market_currency_id == market.market_currency_id %}
                            {{ currency.market_currency_code }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ count_securities(market.market_id) }}</td>
                <td>{{ count_companies(market.market_id) }}</td>
                <td>{{ market.opens_at }}</td>
                <td>{{ market.closes_at }}</td>
                    {% if current_user.admin_tag %}
                        <td>
                        <a class="btn btn-danger"
                           href="{{ url_for('delete_market',market_id = market.market_id) }}"
                           style="text-align: right; color: black">
                            löschen
                        </a>
                        </td>
                    {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
      var selectElement = document.getElementById('currency-select');
      var feeCells = document.getElementsByClassName('fee-cell');
      var startCurrency = document.getElementsByClassName('currency');

      selectElement.addEventListener('change', function() {
        var selectedValue = selectElement.value;
        convertFees(selectedValue);
      });


      function convertFees(selectedValue) {

            const options = {method: 'GET', headers: {accept: 'application/json'}};
          fetch('https://openexchangerates.org/api/latest.json?app_id=43189c6f48c64001a872ae078151984c&symbols=&prettyprint=false&show_alternative=false', options)
                  .then(response => response.json())
                    .then(data => {
                        responseData = data;  //fetch ist asynchron und darum gibt man die response so mit
                        updateFeeCells(selectedValue, responseData);
                    })
                  .catch(err => console.error(err));
      }

      function updateFeeCells(selectedValue, responseData) {
          for (var i = 0; i < feeCells.length; i++) {
            var feeCell = feeCells[i];
            var originalValue = parseFloat(feeCell.dataset.originalValue);
            var currency = startCurrency[i].textContent.trim();

            inDollarValue = originalValue / responseData.rates[currency];

            if (selectedValue === 'default') {
              feeCell.textContent = originalValue.toFixed(2) +" "+ currency;
            } else {
              var conversionRate = responseData.rates[selectedValue];
              var convertedValue = inDollarValue * conversionRate;
              feeCell.textContent = convertedValue.toFixed(2) + ' ' + selectedValue;
            }
          }
      }
    </script>
    {% if current_user.admin_tag %}
    <p> </p>
    <a href="{{ url_for('createmarket') }}" class="btn btn-primary">Create a New Market</a>
    {% endif %}
    <p> </p>
    <a href="{{ url_for('create_csv') }}" class="btn btn-primary">Export Markets to CSV</a>

    </div>
{% endblock %}