{% extends "base.html" %}
{% block scripts %}
        {{ super() }}
        <script>
            function updateTime() {
                // Restlicher Code für die Uhrzeit und das Datum

                // Begrüßungstext generieren abhängig von den Öffnungszeiten
                var greeting = "test";
                var currentTime = new Date();

                var currentHour = currentTime.getHours();
                var currentMinute = currentTime.getMinutes();
                var openingHour = {{ market.opens_at.hour }};
                var openingMinute = {{ market.opens_at.minute }};
                var closingHour = {{ market.closes_at.hour }};
                var closingMinute = {{ market.closes_at.minute }};

                if (
                    (currentHour > openingHour || (currentHour === openingHour && currentMinute >= openingMinute)) &&
                    (currentHour < closingHour || (currentHour === closingHour && currentMinute < closingMinute))
                ) {
                    greeting = "Willkommen! Der Markt ist geöffnet.";
                    document.getElementById("greeting").style.backgroundColor = "lightgreen";  // Hintergrundfarbe: Hellgrün
                } else {
                    greeting = "Der Markt ist derzeit geschlossen.";
                    document.getElementById("greeting").style.backgroundColor = "lightcoral";  // Hintergrundfarbe: Hellrot
                }

                document.getElementById("greeting").textContent = greeting;
            }

            setInterval(updateTime, 1000);
        </script>
    {% endblock %}

{% block content %}
<div class="container-fluid">
<div id="greeting"></div>
    <table>
        <tr>
            <td>
                <h1>Market: {{ market.market_name }}</h1>
                {% if market.market_id %}<p>Market ID: {{ market.market_id }}</p>{% endif %}
                {% if market.market_name %}<p>Market Name: {{ market.market_name}}</p>{% endif %}
                {% if market.market_currency_id %}<p>Market Currency: {{ currency.market_currency_name }} ({{ currency.market_currency_code }})</p>{% endif %}
                {% if market.market_fee %}<p>Market fee: {{ "%.2f" % market.market_fee}} {{ currency.market_currency_code }}</p>{% endif %}
                {% if market.market_country %}<p>Market country: {{ market.market_country}}</p>{% endif %}
                {% if market.opens_at %}<p>Market Opening Hours (CET): {{ market.opens_at}} - {{ market.closes_at}}</p>{% endif %}
            </td>
        </tr>
    </table>
    <table class="table table-sm table-hover">
         <thead>
            <tr>
                <th>Security Name (Noch ID)</th>
                <th>Market Name (Noch ID)</th>
                <th>Available Amount</th>
                <th><a href="{{ url_for('refresh_offer', market_id=market.market_id)}}">Refresh-Button</a></th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offer %}
                <tr>
                    <td>{{ offer.security_id }}</td>
                    <td>{{ offer.market_id }}</td>
                    <td>{{ offer.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <table>
         <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Timestamp</th>
                <th>Security Name (noch ID)</th>
                <th>Security Price</th>
                <th>Security Amount</th>
                <th>Transaction Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_id }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.security_id }}</td>
                    <td>{{ transaction.security_price }}</td>
                    <td>{{ transaction.security_amount }}</td>
                    <td>{{ transaction.transaction_type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
