{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td>
                <h1>Market: {{ market.market_name }}</h1>
                {% if market.market_id %}<p>Market ID: {{ market.market_id }}</p>{% endif %}
                {% if market.market_name %}<p>Market Name: {{ market.market_name}}</p>{% endif %}
                {% if market.market_currency_id %}<p>Market Currency: {{ market.market_currency_id}}</p>{% endif %}
                {% if market.market_fee %}<p>Market fee: {{ market.market_fee}}</p>{% endif %}
                {% if market.market_country %}<p>Market country: {{ market.market_country}}</p>{% endif %}
                {% if market.opens_at %}<p>Market Opening Hours: {{ market.opens_at}} - {{ market.closes_at}}</p>{% endif %}
            </td>
        </tr>
    </table>
    <table>
         <thead>
            <tr>
                <th>Security Name (Noch ID)</th>
                <th>Market Name (Noch ID)</th>
                <th>Available Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offer %}
                <tr>
                    <td>{{ offer.security_id }}</td>
                    <td>{{ offer.market_id }}</td>
                    <td>{{ offer.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <table>
         <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Timestamp</th>
                <th>Security Name (noch ID)</th>
                <th>Security Price</th>
                <th>Security Amount</th>
                <th>Transaction Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.transaction_id }}</td>
                    <td>{{ transaction.timestamp }}</td>
                    <td>{{ transaction.security_id }}</td>
                    <td>{{ transaction.security_price }}</td>
                    <td>{{ transaction.security_amount }}</td>
                    <td>{{ transaction.transaction_type}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}