{% extends "base.html" %}
{% block scripts %}
        {{ super() }}
        <script>
            function updateTime() {
                // Restlicher Code für die Uhrzeit und das Datum

                // Begrüßungstext generieren abhängig von den Öffnungszeiten
                var greeting = "test";
                var currentTime = new Date();

                var currentHour = currentTime.getHours();
                var currentMinute = currentTime.getMinutes();
                var openingHour = {{ market.opens_at.hour }};
                var openingMinute = {{ market.opens_at.minute }};
                var closingHour = {{ market.closes_at.hour }};
                var closingMinute = {{ market.closes_at.minute }};

                if (
                    (currentHour > openingHour || (currentHour === openingHour && currentMinute >= openingMinute)) &&
                    (currentHour < closingHour || (currentHour === closingHour && currentMinute < closingMinute))
                ) {
                    greeting = "Willkommen! Der Markt ist geöffnet.";
                    document.getElementById("greeting").style.backgroundColor = "lightgreen";  // Hintergrundfarbe: Hellgrün
                } else {
                    greeting = "Der Markt ist derzeit geschlossen.";
                    document.getElementById("greeting").style.backgroundColor = "lightcoral";  // Hintergrundfarbe: Hellrot
                }

                document.getElementById("greeting").textContent = greeting;
            }

            setInterval(updateTime, 1000);
        </script>
    {% endblock %}

{% block content %}
    <body>
<div class="container-fluid">
<div id="greeting"></div>
    <table>
        <tr>
            <td>
                <h1>Market: {{ market.market_name }}</h1>
                {% if market.market_id %}<p>Market ID: {{ market.market_id }}</p>{% endif %}
                {% if market.market_name %}<p>Market Name: {{ market.market_name}}</p>{% endif %}
                {% if market.market_currency_id %}<p>Market Currency: {{ currency.market_currency_name }} ({{ currency.market_currency_code }})</p>{% endif %}
                {% if market.market_fee %}<p>Market fee: {{ "%.2f" % market.market_fee}} {{ currency.market_currency_code }}</p>{% endif %}
                {% if market.market_country %}<p>Market country: {{ market.market_country}}</p>{% endif %}
                {% if market.opens_at %}<p>Market Opening Hours (CET): {{ market.opens_at}} - {{ market.closes_at}}</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr class="blue-line">
        <h4>Verfügbare Wertpapiere <button class="btn btn-info btn-sm" onclick="window.location.reload();">Refresh</button></h4>
        <div style="max-width: 870px;">
            <table class="table table-hover transparent-table">
                 <thead>
                    <tr>
                        <th>Security Name</th>
                        <th>Company</th>
                        <th>Security ID</th>
                        <th>Security Price</th>
                        <th>Available Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offer in offer %}
                        <tr>
                            <td>
                                {% if security_info is iterable %}
                                    {{ get_name(offer.security_id) }}
                                {% endif %}
                            </td>
                            <td>{{ get_comp_name_from_sec(offer.security_id) }}</td>
                            <td>{{ offer.security_id }}</td>
                            <td>{{ get_price(offer.security_id) }} {{ currency.market_currency_code }}</td>
                            <td>{{ offer.available_amount }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<hr class="blue-line">
    <div class="table-container">
        <h4>Transaktionen der Börse</h4>
        <div style="max-height: 200px; overflow-y: scroll">
             <table class="table transparent-table sticky-header">
                 <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Timestamp</th>
                        <th>Security Name (noch ID)</th>
                        <th>Security Price</th>
                        <th>Security Amount</th>
                        <th>Transaction Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.transaction_id }}</td>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.security_id }}</td>
                            <td>{{ transaction.security_price }}</td>
                            <td>{{ transaction.security_amount }}</td>
                            <td>{{ transaction.transaction_type}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-container">
        <h4>Meistgehandelte Unternehmen</h4>
         <div style="max-width: 400px;">
            <table class="table transparent-table sticky-header">
                 <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Firmenname</th>
                        <th>Menge</th>
                    </tr>
                </thead>
                <tbody>
                    {% if top_companies is iterable %}
                        {% for company_info in top_companies %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ company_info[1].name }}</td>
                                <td>{{ company_info[1].count }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td>Connection Error with FW</td>
                    {% endif %}
                </tbody>
            </table>
         </div>
    </div>

</div>
</body>
{% endblock %}
