{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <td><img class = "top" src="{{ user.avatar(128) }}" alt="link"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
                {% if user.admin_tag %}<p>This user has admin permissions.</p>{% endif %}

{#                {% if user == current_user %}#}
{#                    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>#}
{#                {% endif %}#}
            </td>
        </tr>
    </table>
    <hr>
{% endblock %}